<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="/homeStyle.css" media="screen"/>
</head>

<body>

<header>
	<h1>Sistemas Distribuidos</h1>
</header>

<ul>
  <li><a id="profile" class="active" href="">Profile</a></li>
  <li><a href="/api/developers">Developers</a></li>
  <li style="float:right"><a href="/api/login">Logout</a></li>
</ul>

<h2> Welcome! </h2>
<h3 id="user"> <%= data.username %> </h3>
<hr>

<input type="file" id="inFile" />
<button class="button" id="uploadBtn" >Upload video</button>
<hr>

<table id="tablaVideos">
  <caption>Videos</caption>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
</table>

<p hidden id="videos"> <%= data.videos %> </p>
<p>  </p>

<form id="deleteVideo" action="" method="post">
  <label for="video">Video ID:</label>
  <input type="text" id="videoid" name="videoid"><br><br>
  <button class="button" type="submit" value="Submit">Delete</button>
</form>

<script>

	var str = document.getElementById("videos").textContent;
	var res = str.split(" ");
	const link = window.location.href + "/video/";
	var i;
	if (res.length > 0){
		for (i = 2; i < res.length-1; i+=2){
			var newTableRow = "<tr><td><a href=\"" + link + res[i+1] + "\">" + res[i] + "</a></td><td>" + res[i+1] + "</td></tr>";
			$('#tablaVideos tr:last').after(newTableRow);
		}
	}

	localStorage.setItem("urlProfile",window.location.href);
	const inFile = document.getElementById("inFile");
	const uploadBtn = document.getElementById("uploadBtn");
	
	uploadBtn.addEventListener("click", function(){
		var formData = new FormData();
		var url = window.location.href + "/video-internal";
		var xhr = new XMLHttpRequest();
		
		formData.append("inFile", inFile.files[0]);
		xhr.open('POST', url, true);
		xhr.send(formData);
		alert("File uploading, it will take a little time, chill and coffe! " + inFile.files[0].name);
		location.reload();
	});
	
	$( "#deleteVideo" ).submit( function( event ) {
		// Stop form from submitting normally
		event.preventDefault();
		// Get some values from elements on the page:
		var $form = $( this ),
			vid = $form.find( "input[id='videoid']" ).val();
		
		document.getElementById("videoid").value = "";
		
		//Build url
		var url = window.location.href + "/video/delete";
		
		$.post( url, { videoid: vid }, "html")
			.done(function(response){
				alert("Deleted video");
				location.reload();
			})
			.fail( function(data){
				alert("Fail: " + data.responseText);
			});
	});
	
</script> 


</body>
</html>
