header {
  background-color: #666;
  text-align: center;
  font-size: 30px;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgrey;
}

.button {
  background-color: #009900;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}